/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";
/* @config "../tailwind.config.js"; */



@theme {
    --color-heading:#F9FAFB;
    --color-typography: #D1D1D1;
    --color-typography-lighter:#A5A5A5;
    --color-footer-icon: #767676;
    --color-primary-100: #E38711;
    --color-primary-200: #EE9625;
    --color-primary-600: #F09F38;
    --color-section:#0A0A0A;

    --color-ui-block: #090A0B;
    --color-ui-block-hover: #0E0F11;
    --color-border: #2B2B2B;
    --color-input:#101010;
    --color-faded:#1D1D1D;

    --color-package-banner:#1A1A22;

    --spacing: 4px;

    --breakpoint-sm:                    768px;      
    --breakpoint-md:                    1024px;
    --breakpoint-lg:                    1439px;     
    

    --text-xs:14px;
    --text-xs--line-height:24px;
    --text-sm:16px;
    --text-sm--line-height:24px;
    --text-md:18px;
    --text-md--line-height:26px;
    --text-lg:20px;
    --text-lg--line-height:34px;
    --text-xlg:24px;
    --text-xlg--line-height:40px;
    --text-h1:64px;
    --text-h1--line-height:82px;
    --text-h2:56px;
    --text-h2--line-height:74px;
    --text-h3:40px;
    --text-h3--line-height:52px;
    --text-h4:32px;
    --text-h4--line-height:42px;
    --text-h5:24px;
    --text-h5--line-height:34px;
    --text-h6:22px;
    --text-h6--line-height:28px;

    --radius-xs:                        2px;        /* 0.125rem * 16px */
    --radius-sm:                        4px;        /* 0.25rem * 16px */
    --radius-md:                        6px;        /* 0.375rem * 16px */
    --radius-lg:                        8px;        /* 0.5rem * 16px */
    --radius-xl:                        12px;       /* 0.75rem * 16px */
    --radius-2xl:                       16px;       /* 1rem * 16px */
    --radius-3xl:                       24px;       /* 1.5rem * 16px */
    --radius-4xl:                       32px;       /* 2rem * 16px */

    --default-transition-timing-function: ease;
    --default-transition-duration: 0.3s;

    
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
    font-family: "Geist";
    overflow-x: hidden;
}
.container{
    max-width: 1280px;
    padding-inline: 32px;
    margin-inline: auto;
}
.container-sm{
    max-width: 904px;
    padding-inline: 32px;
    margin-inline: auto;
}

@media(max-width:1439px){
    .text-h1{
        font-size: 56px;
        line-height: 74px;
    }
    .text-h2{
        font-size: 50px;
        line-height: 65px;
    }
    .text-h3{
        font-size: 36px;
        line-height: 46px;
    }
    .text-xlg{
        font-size: 22px;
        line-height: 40px;
    }
    .text-lg{
        font-size: 18px;
        line-height: 32px;
    }
}
@media(max-width:768px){
    .text-h1{
        font-size: 48px;
        line-height: 60px;
    }
    .text-h2{
        font-size: 44px;
        line-height: 56px;
    }
    .text-h3{
        font-size: 32px;
        line-height: 44px;
    }
    .text-xlg{
        line-height: 34px;
    }
    .text-lg{
        line-height: 30px;
    }
    .container,
    .container-sm{
        padding-inline: 24px;
    }
}
.btn-outline svg path{
    fill:#E38711;
}
